<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="../script.js"></script>
    </head>
    <body>
        <div id="content">
            <table id="authors_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imie</th>
                        <th>Nazwisko</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="author_prototype" style="display: none">
                        <td class="id"></td>
                        <td class="name"></td>
                        <td class="surname"></td>
                        <td class="action">
                            <a class="delete_author" href="#">X</a>
                            <a class="modify" onClick="" href="#">E</a>
                        </td>

                    </tr>
                </tbody>
            </table>
            <table id="books_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tytuł</th>
                        <th>Tytuł angielski</th>
                        <th>Data dodania</th>
                        <th>Kategoria</th>
                        <th>Opis</th>
                        <th>Wydawca</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="book_prototype" style="display: none">
                        <td class="id"></td>
                        <td class="title"></td>
                        <td class="title_en"></td>
                        <td class="add_date"></td>
                        <td class="category"></td>
                        <td class="description"></td>
                        <td class="publisher"></td>
                        <td class="action">
                            <a class="delete_book" href="#">X</a>
                            <a class="modify" onClick="" href="#">E</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
