<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-3.4.1.js"></script>
        <script src="../script.js"></script>
    </head>
    <body>
        <nav id="navigation">
            <div id="navigation_bar" class="navigation" data-bind="foreach: views">
                <a data-bind="text: title, click: $root.selectedView" href="#"></a>
            </div>
            <div id="action_bar" class="navigation">
                <input type="text" />
                <a class="search" href="#">Szukaj</a>
                <a class="add" href="#">+</a>
            </div>
        </nav>
        <div data-bind="with: selectedView">
            <div data-bind="template: { name: template, data: data }">
                
            </div>
        </div>
            <script id="authors_template" type="text/html">
                
                <table id="authors_table">
                    <thead>
                        <tr>
                            <th>
                                <p class="header">ID</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sortIdDesc" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sortIdAsc" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Imie</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sortNameDesc" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sortNameAsc" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Nazwisko</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sortSurnameDesc" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sortSurnameAsc" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                        <tr class="add_bar"><td colspan=7>
                        <form data-bind="submit: add">
                                    <p data-bind="text: nextid"></p>
                                    Imię: <input type="text" data-bind="value: nameIn" />
                                    Nazwisko: <input type="text" data-bind="value: surnameIn"/>
                                    <button type="submit">Dodaj</button>
                        </form>
                        </td></tr>
                    </thead>
                    
                    <tbody data-bind="foreach: authors">
                        <tr>
                            <td data-bind="text: id"></td>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: surname"></td>
                            <td class="action">
                                <a href="#" data-bind="click: removeAuthor">X</a>
                                <a class="modify" onClick="" href="#">E</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </script>
            <script id="books_template" type="text/html">
                <table id="books_table">
                    <thead>
                        <tr>
                            <th>
                                <p class="header">ID</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_ID,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_ID,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Tytuł</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_TITLE,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_TITLE,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Tytuł angielski</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_TITLE_EN,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_TITLE_EN,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Data dodania</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_DATE,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_DATE,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Kategoria</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_CATEGORY,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_CATEGORY,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Wydawca</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_PUBLISHER,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_PUBLISHER,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                        <tr class="add_bar"><td colspan=7>
                        <form data-bind="submit: add">
                                    <p data-bind="text: nextid"></p>
                                    <input type="text" data-bind="value: title"/>
                                    <input type="text" data-bind="value: title_en"/>
                                    <input type="text" data-bind="value: isbn"/>
                                    <input type="text" data-bind="value: add_date"/>
                                    <input type="text" data-bind="value: category"/>
                                    <input type="text" data-bind="value: publisher"/>
                                    <input type="textarea" data-bind="value: description"/>
                                    <button type="submit">Dodaj</button>
                        </form>
                        </td></tr>
                    </thead>
                    <tbody  data-bind="foreach: books">
                        <tr>
                            <td data-bind="text: id"></td>
                            <td data-bind="text: title"></td>
                            <td data-bind="text: title_en"></td>
                            <td data-bind="text: add_date"></td>
                            <td data-bind="text: category"></td>
                            <td data-bind="text: publisher"></td>
                            <td class="action">
                                <a href="#" data-bind="click: removeBook">X</a>
                                <a class="modify" onClick="" href="#">E</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </script>
    </body>
</html>
