<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-3.4.1.js"></script>
        <script type="text/javascript" src="knockout-postbox.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </head>
    <body>
        <nav id="navigation">
            <div id="navigation_bar" class="navigation" data-bind="foreach: views">
                <a data-bind="text: $data, click: $root.selectedView" href="#"></a>
            </div>
            <div id="action_bar" class="navigation">
                <input type="text" />
                <a class="search" href="#">Szukaj</a>
                <a class="add_drop" href="#">+</a>
            </div>
        </nav>
        <table id="authors_table" data-bind="visible: visible">
                    <thead>
                        <tr>
                            <th>
                                <p class="header">ID</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: $root.sortIdDesc" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: $root.sortIdAsc" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Imie</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: $root.sortNameDesc" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: $root.sortNameAsc" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Nazwisko</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: $root.sortSurnameDesc" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: $root.sortSurnameAsc" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                        <tr class="add_bar"><td colspan=7>
                        <form data-bind="submit: $root.add">
                                    Imię: <input type="text" data-bind="value: nameIn" />
                                    Nazwisko: <input type="text" data-bind="value: surnameIn"/>
                                    <button type="submit">Dodaj</button>
                        </form>
                        </td></tr>
                    </thead>
                    
                    <tbody data-bind="foreach: authors">
                        <tr>
                            <td data-bind="text: id"></td>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: surname"></td>
                            <td class="action">
                                <a href="#" data-bind="click: $root.removeAuthor">X</a>
                                <a class="modify" onClick="" href="#">E</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        <table id="books_table" data-bind="visible: visible">
                    <thead>
                        <tr>
                            <th>
                                <p class="header">ID</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_ID,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_ID,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Tytuł</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_TITLE,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_TITLE,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Tytuł angielski</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_TITLE_EN,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_TITLE_EN,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">ISBN</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_ISBN,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_ISBN,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Data dodania</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_DATE,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_DATE,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Kategoria</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_CATEGORY,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_CATEGORY,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th>
                                <p class="header">Wydawca</p>
                                <div class="arrow_container">
                                    <a class="sort" data-bind="click: sort(c_PUBLISHER,false)" href="#">&#9650;</a>
                                    <a class="sort" data-bind="click: sort(c_PUBLISHER,true)" href="#">&#9660;</a>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                        <tr class="add_bar"><td colspan=8>
                        <form data-bind="submit: add">
                            <div>
                                    <p>Tytuł</p><input type="text" data-bind="value: title"/>
                                    <p>Tytuł angielski</p><input type="text" data-bind="value: title_en"/>
                                    <p>ISBN</p><input type="text" data-bind="value: isbn"/>
                            </div>
                            <div>
                                    <p>Kategoria</p><input type="text" data-bind="value: category"/>
                                    <p>Wydawca</p><input type="text" data-bind="value: publisher"/><br/>
                            </div>
                            <div>
                                    <p>Opis</p>
                                    <textarea rows="4" colls="50" data-bind="value: description"> </textarea>
                                    
                            </div>
                            <div id="authors_list">
                                <p>Autorzy</p>
                                <select size="5" data-bind="options: authors, 
                                                optionsText: 's_name',
                                                optionsValue: 'id',
                                                selectedOptions: selectedAuthors" multiple="true"></select>
                                <button type="submit">Dodaj</button>
                            </div>
                        </form>
                        </td></tr>
                    </thead>
                    <tbody  data-bind="foreach: books">
                        <tr>
                            <td data-bind="text: id"></td>
                            <td data-bind="text: title"></td>
                            <td data-bind="text: title_en"></td>
                            <td data-bind="text: isbn"></td>
                            <td data-bind="text: add_date"></td>
                            <td data-bind="text: category"></td>
                            <td data-bind="text: publisher"></td>
                            <td class="action">
                                <a href="#" data-bind="click: $root.removeBook">X</a>
                                <a class="modify" onClick="" href="#">E</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
    </body>
</html>
